<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Zen+Dots&display=swap"
    rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <div class="nav-sk">
    <nav class="navvv-sk">
      <div class="logo-sk"><img src="img/Hand-Out.png" alt="" /></div>
      <ul>
        <li><a href="/login-student">Log In</a></li>
        <li><a href="/register-student">Register</a></li>
        <!-- <li><a href="/login.html">Center Login/Register</a></li>
        <li><a href="/leader.html">Leaderboard</a></li> -->
        <!-- <li><a href="/service.html">Services</a></li> -->
        <!-- <li><a href="">Resume</a></li> -->
        <!-- <a class="btn" href="/donation.html"
            >Let's Chat <ion-icon name="chatbubble-ellipses-outline"></ion-icon
          ></a> -->
      </ul>
    </nav>
  </div>

  <div class="hero-sk">
    <div class="heroData-sk">
      <div class="heroContent-sk">
        <h1>"A small action on your part can bring a big change in someone's life."</h1>
        <p>
          Volunteering to help needy students is a noble and rewarding act that can make a significant difference in
          someone's life. There are many ways in which you can provide assistance to students who are struggling
          financially or academically. For example, you can offer to tutor them in subjects that they are having
          difficulty with, provide them with study materials, or even mentor them.
        </p>
        <div class="btns-sk">
          <a href="/donation.html" class="btn2-sk">Donate</a>
          <a href="/register.html" class="btn-sk">New Request</a>
        </div>
      </div>
      <img src="img/Image.png" alt="" />
    </div>
  </div>

  <!-- Happy's Story section -->
  <div class="super-story-section">
    <section class="story-section-hp">
      <h1 class="story-heading-hp">
        Resources and tools to help you build a better world.
      </h1>
      <div class="boxes-hp">
        <div class="box1-hp box-hp box-neeche-hp">
          <img class="advice-image-hp" alt="Advice by elder" src="/img/Rectangle 17.png" />
          <p class="box-heading-hp">
            Explore our volunteer, event, and action listings to discover ways to make an impact in your community.

          </p>
          <a class="click-here-btn-hp" href="#">Click Here..</a>
        </div>
        <div class="box2-hp box-hp box-upar-hp">
          <img class="advice-image-hp" alt="Advice by elder" src="/img/Rectangle 19.png" />
          <p class="box-heading-hp">
            Use our location, experience level, and issue area job-search filters to find your perfect-fit career
            opportunity.
          </p>
          <a class="click-here-btn-hp" href="#">Click Here..</a>
        </div>
        <div class="box3-hp box-hp box-neeche-hp">
          <img class="advice-image-hp" alt="Advice by elder" src="/img/Rectangle 18.png" />
          <p class="box-heading-hp">
            Find your earning potential with our new salary calculator that allows you to compare salaries and paths.
          </p>
          <a class="click-here-btn-hp" href="#">Click Here..</a>
        </div>
      </div>

    </section>
  </div>
  <!-- Story section ends -->

  <!-- Numbers Tell us everthing start -->

  <section>
    <div class="number-section-ns">
      <h1 class="Number-heading-ns">Number's expose our character.</h1>
      <div class="notes-books-pyq-ns">
        <div>
          <span class="notes-number-ns number-ns">1839+</span><br />
          <h2 class="notes-label-ns label-ns">Monthly
            Visitors</h2>
        </div>
        <div>
          <span class="books-number-ns number-ns">512+</span><br />
          <h2 class="books-label-ns label-ns">Volunteers
            Connected</h2>
        </div>
        <div>
          <span class="pyqs-number-ns number-ns">729+</span><br />
          <h2 class="pyqs-label-ns label-ns">Students</h2>
        </div>
        <div>
          <span class="downloads-number-ns number-ns">2729+</span><br />
          <h2 class="downloads-label-ns label-ns">Volunteers
            Needed</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- Number tell us endds here -->

  <!-- ****************Testimonials Start****************** -->
  <!-- container testimonial -->
  <div class="testimonial-container-t">
    <h2 class="testimonial-heading-t">
      <span class="spl-head-t">Happy costumers</span>
      are our true health
    </h2>
    <!-- box contain testimonial -->
    <div class="testimonial-box-t">
      <div class="testi-box-t">
        <p class="testi-para-t">
          "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
          quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
          eveniet tempore voluptatem."
        </p>
        <div class="person-info-box-t">
          <div class="person-info-t">
            <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
            <div class="person-detail-t">
              <p class="testi-name-t">Shreya Sharma</p>
              <p class="faded-info-t">App store review</p>
            </div>
          </div>
          <div class="icon-box-t">
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
          </div>
        </div>
      </div>

      <div class="testi-box-t">
        <p class="testi-para-t">
          "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
          quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
          eveniet tempore voluptatem."
        </p>
        <div class="person-info-box-t">
          <div class="person-info-t">
            <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image-t" />
            <div class="person-detail-t">
              <p class="testi-name-t">Shreya Sharma</p>
              <p class="faded-info-t">App store review</p>
            </div>
          </div>
          <div class="icon-box-t">
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
          </div>
        </div>
      </div>

      <div class="testi-box-t">
        <p class="testi-para-t">
          "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
          quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
          eveniet tempore voluptatem."
        </p>
        <div class="person-info-box-t">
          <div class="person-info-t">
            <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
            <div class="person-detail-t">
              <p class="testi-name-t">Shreya Sharma</p>
              <p class="faded-info-t">App store review</p>
            </div>
          </div>
          <div class="icon-box-t">
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
          </div>
        </div>
      </div>

      <div class="testi-box-t">
        <p class="testi-para-t">
          "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
          quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
          eveniet tempore voluptatem."
        </p>
        <div class="person-info-box-t">
          <div class="person-info-t">
            <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
            <div class="person-detail-t">
              <p class="testi-name-t">Shreya Sharma</p>
              <p class="faded-info-t">App store review</p>
            </div>
          </div>
          <div class="icon-box-t">
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
          </div>
        </div>
      </div>

      <div class="testi-box-t">
        <p class="testi-para-t">
          "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
          quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
          eveniet tempore voluptatem."
        </p>
        <div class="person-info-box-t">
          <div class="person-info-t">
            <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
            <div class="person-detail-t">
              <p class="testi-name-t">Shreya Sharma</p>
              <p class="faded-info-t">App store review</p>
            </div>
          </div>
          <div class="icon-box-t">
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
            <ion-icon class="icon-star-t" name="star"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- row 2 testimonial -->

    <div class="testimonial-box-t testi-box-2-t">
      <div class="testimonial-box-t">
        <div class="testi-box-t">
          <p class="testi-para-t">
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
            quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
            eveniet tempore voluptatem."
          </p>
          <div class="person-info-box-t">
            <div class="person-info-box-t">
              <div class="person-info-t">
                <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
                <div class="person-detail-t">
                  <p class="testi-name-t">Shreya Sharma</p>
                  <p class="faded-info-t">App store review</p>
                </div>
              </div>
              <div class="icon-box-t">
                <ion-icon class="icon-star-t" name="star"></ion-icon>
                <ion-icon class="icon-star-t" name="star"></ion-icon>
                <ion-icon class="icon-star-t" name="star"></ion-icon>
                <ion-icon class="icon-star-t" name="star"></ion-icon>
                <ion-icon class="icon-star-t" name="star"></ion-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="testi-box-t">
          <p class="testi-para-t">
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
            quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
            eveniet tempore voluptatem."
          </p>
          <div class="person-info-box-t">
            <div class="person-info-t">
              <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
              <div class="person-detail-t">
                <p class="testi-name-t">Shreya Sharma</p>
                <p class="faded-info-t">App store review</p>
              </div>
            </div>
            <div class="icon-box-t">
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
            </div>
          </div>
        </div>

        <div class="testi-box-t">
          <p class="testi-para-t">
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
            quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
            eveniet tempore voluptatem."
          </p>
          <div class="person-info-box-t">
            <div class="person-info-t">
              <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
              <div class="person-detail-t">
                <p class="testi-name-t">Shreya Sharma</p>
                <p class="faded-info-t">App store review</p>
              </div>
            </div>
            <div class="icon-box-t">
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
            </div>
          </div>
        </div>

        <div class="testi-box-t">
          <p class="testi-para-t">
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
            quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
            eveniet tempore voluptatem."
          </p>
          <div class="person-info-box-t">
            <div class="person-info-t">
              <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
              <div class="person-detail-t">
                <p class="testi-name-t">Shreya Sharma</p>
                <p class="faded-info-t">App store review</p>
              </div>
            </div>
            <div class="icon-box-t">
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
            </div>
          </div>
        </div>

        <div class="testi-box-t">
          <p class="testi-para-t">
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
            quam ut quidem quae consectetur quos omnis, est ab dignissimos totam
            eveniet tempore voluptatem."
          </p>
          <div class="person-info-box-t">
            <div class="person-info-t">
              <img class="img-testi-t" src="/img/WhatsApp Image 2023-04-10 at 21.34.12.jpg" alt="image" />
              <div class="person-detail-t">
                <p class="testi-name-t">Shreya Sharma</p>
                <p class="faded-info-t">App store review</p>
              </div>
            </div>
            <div class="icon-box-t">
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
              <ion-icon class="icon-star-t" name="star"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials end -->

    <!-- Expertise wala Section -->
    <div class="super-expertise-section">
      <section class="expertise-section-ex">
        <h1 class="expertise-heading-ex">
          Building our<br />
          <span class="expertise-heading-ex blue-color-ex">Expertise, for you</span>
        </h1>
        <div class="boxes-ex">
          <div class="box-ex box-1-ex">
            <h2 class="box-heading-ex">Make Donation</h2>
            <p class="box-content-ex">
              Help today because tomorrow you may be the one who needs helping!

              Your donation can make a lasting difference and bring hope to those who need it most. So why wait? Make a
              donation today and be the change you want to see in the world!
            </p>
            <button class="plus-btn-ex">+</button>
          </div>

          <div class="box-ex box-2-ex">
            <h2 class="box-heading-ex white-color-ex">Fundrising </h2>
            <p class="box-content-ex white-color-ex">
              It involves creating awareness about the need for funding and inspiring people to donate or contribute to
              the cause. Effective fundraising strategies include developing a clear message, reaching out to potential
              donors, using social media and and showing the impact of donations
            </p>
            <button class="plus-btn-ex">+</button>
          </div>

          <!-- <div class="box-ex box-3-ex">
            <h2 class="box-heading-ex">Become a volunteer</h2>
            <div class="number-label-ex number-upar-ex">
              <span class="number-ex blue-color-ex"></span><br />
              <span class="label-ex blue-color-ex">Help today because tomorrow you may be the one who needs helping!</span>
            </div>
            <div class="number-label-ex number-neeche-ex">
              <span class="number-ex blue-color-ex"></span><br />
              <span class="label-ex blue-color-ex">Relationship Manager</span>
            </div>
            <span class="box-3-quote-ex">We are what you are!</span>
            <button class="plus-btn-ex">+</button>
          </div> -->
          <div class="box-ex box-3-ex">
            <h2 class="box-heading-ex ">Become a volunteer </h2>
            <p class="box-content-ex ">
              Help today because tomorrow you may be the one who needs helping!
              So why not join the millions of people around the globe who are already making a difference as volunteers?
              Start your journey today and become a volunteer!
            </p>
            <button class="plus-btn-ex">+</button>
          </div>
        </div>
      </section>
    </div>

    <!-- Expertise wala section ends -->

    <div class="work-sk">
      <div class="heading-sk">
        <h1>Our Creative Work</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
          tempor incididunt ut labore.
        </p>
      </div>
      <div class="boxes-sk">
        <div class="box-sk">
          <div class="box-content-sk">
            <h1>Donate your textbooks to help students in need</h1>
            <p>
              Have textbooks that you no longer need? Donating them to our
              program is a great way to help students who can't afford to buy
              them.
            </p>
            <a href="" class="btn-sk">Give your books a new home</a>
          </div>
          <!-- <img src="./img/boximg.png" alt="" /> -->
        </div>
        <div class="box-sk box2-sk bxc2-sk">
          <div class="box-content-sk">
            <h1>Clean out your old school supplies for a good cause"</h1>
            <p>
              Are your desk drawers filled with old school supplies that you
              don't use anymore?
            </p>
            <a href="" class="btn-sk">Clear the clutter </a>
          </div>
          <!-- <img src="./img/boximg.png" alt="" /> -->
        </div>
        <!-- <div class="box box3">
          <div class="box-content">
            <h1>Featured Artist</h1>
            <p>
              Highlight artists who have donated their work to the cause, with a
              brief bio and examples of their artwork.
            </p>
            <a href="" class="btn">Read Case Study</a>
          </div>
          <<img src="./img/boximg.png" alt="" /> --
        </div> -->
        <div class="box-sk box4-sk bxc2-sk">
          <div class="box-content-sk">
            <h1>Give your used laptops and computers a second life</h1>
            <p>
              Have an old laptop that you no longer use? Donate it to our
              program! Many students don't have access to a computer
              <a href="" class="btn-sk">Upgrade someone's education</a>
            </p>
          </div>

          <!-- <img src="./img/boximg.png" alt="" /> -->
        </div>
        <!-- <a href="/donation.html" class="btn2-sk">Contact me</a> -->
        <!-- <div class="contentForm-sk">
          <div class="row1-sk">
            <h1>Make the Change !</h1>
            <p>
              "Change is not just a word, it's an action. And you have the power
              to make a difference. By donating your, you can bring about
              positive change in the lives of those who need it most. Your
              gently used clothes, books, and household items can mean the world
              to someone who is struggling.
            </p>
          </div>

          <div class="form-sk">
            <div class="input1-sk">
              <input class="input-sk" type="text" placeholder="Full Name" />
              <input type="text" placeholder="Company" />
            </div>
            <textarea name="" id="textarea-sk" cols="20" rows="10" placeholder="How can I help you"></textarea>
            <a href="/donation.html" class="btn2-sk">Send Message</a>
          </div>
        </div> -->
      </div>
    </div>

    <div class="footer-sk">
      <img src="./img/Hand-Out.png" alt="" />
      <div class="frow1">
        <h2>Utility Page</h2>
        <div class="links">
          <a href="/login-student">Log In</a>
          <a href="/register-student">Sign Up</a>
          <a href="/donation.html">Donation</a>
          <a href="/leader.html">Leaderboard</a>
          <a href="/donationDisplay.html">Donation Display</a>
          <a href="/service.html">Services</a>
        </div>
      </div>
      <div class="frow2-sk">
        <div class="fc1-sk">
          <h2>Stay Connect</h2>
          <p>Headquaters-Landran</p>
        </div>
        <div class="fc1-sk">
          <h2>support@handout.com</h2>
          <p>Phone: 000 5486 9846</p>
        </div>
        <div class="socials-sk">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <ion-icon name="logo-youtube"></ion-icon>
          <ion-icon name="logo-snapchat"></ion-icon>
        </div>
      </div>
      <div class="frow3-sk">
        <h2>🤝Thanks for Scrolling</h2>
        <!-- <a class="btn-sk" href="">Let's Chat <ion-icon name="chatbubble-ellipses-outline"></ion-icon></a> -->
      </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>